<footer class="bg-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>BestOfferten</h5>
                <p>Ihre erste Wahl für Umzug und Reinigung</p>
            </div>
            <div class="col-md-4">
                <h5>Kontakt</h5>
                <p>
                    <a href="mailto:info@bestofferten.ch" class="text-decoration-none">info@bestofferten.ch</a><br>
                    <a href="tel:+41XXXXXXXXX" class="text-decoration-none">+41 XX XXX XX XX</a>
                </p>
            </div>
            <div class="col-md-4">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="index.html" class="text-decoration-none">Home</a></li>
                    <li><a href="#" class="text-decoration-none">Impressum</a></li>
                    <li><a href="#" class="text-decoration-none">Datenschutz</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer> 