<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="assets/images/bestofferten_logo.png" alt="BestOfferten Logo" height="40" width="200">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="umzug.html">Umzug</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reinigung.html">Reinigung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="entsorgung.html">Entsorgung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lagerung.html">Lagerung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="klaviertransport.html">Klaviertransport</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mobellift.html">Möbellift mieten</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 